.topSpace {
  position: sticky;
  margin-top: -5px;
}

.video {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  object-fit: cover;
  margin-bottom: 0;
  border-bottom: 0;
  padding-top: 0;
}

.alignZero {
  margin: 0;
  padding: 0;
  border: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
