.card {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  background-color: aqua;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    padding: 0;
  }
}
